@import 'tailwindcss';

.animate-in {
  opacity: 0;
  animation: animate_in 0.3s forwards calc(0.02s * var(--index));
}

@keyframes animate_in {
  from {
    transform: translate3d(0, 40%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    animation-timing-function: ease-out;
  }
}
